
@{
    ViewData["Title"] = "Create";
}

<h1>Create Student</h1>
<partial name="StudentForm" />
<div>
    <a asp-action="Index" asp-controller="Student" class="btn btn-warning">Back to List</a>
</div>
