@model StudentWithDepartmentsViewModel
@{
    SelectList departs = new SelectList(Model.Departments, "Id", "Name");
}


<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.Name" class="control-label"></label>
                <input asp-for="Student.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Student.Age" class="control-label"></label>
                <input asp-for="Student.Age" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Student.Email" class="control-label"></label>
                <input asp-for="Student.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Student.DepartmentId" class="control-label"></label>
                <select asp-for="Student.DepartmentId" class="form-control" asp-items="departs"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

